#text {
  font-size: 50px;
  display: inline-block;
  border-right: 1px solid black;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

@keyframes blink {
  50% {
    border-color: rgba(0, 0, 0, 0);
  }
}
